$light-blue: paleturquoise;
$sapphire: #0b1354;
$denim: #165baa;
// $dark-turquoise: rgb(118, 213, 203);
$dark-turquoise: rgb(175, 212, 238);
$denimtwo: #165baaab;
$deep-lilac: #6e55b9;
$brilliant-rose: #f765a3;

$purple:#D6D0F5;
$purple-background: #9885f3ca;
$background: #121212;

body {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  color: rgb(229, 233, 244);
  background-color: $background;
}
