@import 'app';

.clipboard {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    
    input {
        padding: 5px;
        margin-right: 5px; 
    }
    button {
        padding: 5px;
    }
}