@import 'app';
@import 'main';

.description {
  grid-area: desc;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  // border: 1px dashed black;
  width: auto;
  border-radius: 10px;
}
