@import 'app';

.first-feature {
  display: flex;
  align-items: center;
  flex-direction: column;
  li {
    list-style: none;
  }

  img {
    height: 175px;
    width: 250px;
    margin: 10px;

  }

}

