@import 'app';
@import 'main';

.navigation {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $denim;
  padding: 0 24px;
  //   position: top;
}
