@import 'app';

.features {
  grid-area: ft;
  display: flex;
  flex-direction: column;
  align-items: left;
  border: 1px solid $sapphire;
  border-radius: 10px;
  background-color: $denimtwo;

  .feature-nav {
    display: flex;
    justify-content: space-around;
    align-self: left;

    p {
      &:hover {
        text-decoration: underline;
        text-decoration-color: pink;
        cursor: pointer;
      }
    }

    .Underline {
      text-decoration: underline;
      text-decoration-color: pink;
    }
  }
}