@import 'app';
@import 'main';

.left-nav {
  display: flex;
  align-items: center;
  margin: 100px;
  img {
    max-width: 50px;
    max-height: 50px;
    &:hover {
      cursor: pointer;
    }
  }
  p {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
